<%- include('./layouts/header.ejs') %>

<div class="container mb-5 mt-5">
    <h1>Reset Password</h1>

    <form method="POST">
        <div class="row mt-3">
            <div class="col-sm-12">
                <input type="password" name="password" placeholder="Enter New Password" required>
                <input type="hidden" name="user_id" value="<%= user_id %>">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <input type="submit" value="Reset" class="btn btn-info">
            </div>
        </div>
    </form>

    <%
        if(typeof message !== 'undefined'){
            %>
            <p><%= message %></p>
            <%
        }
    %>
</div>

<%- include('./layouts/footer.ejs') %>